<h3 class="alert alert-warning text-center" *ngIf="errors"><i class="fa fa-warning"></i> {{errMessage}}</h3>

<ng-container *ngIf="item">


<div class="row mb-2">
  <div class="col-1">
    <button mat-mini-fab color="" (click)="back()">
      <i class="fa fa-chevron-left"></i>
    </button>
  </div>
  <div class="col-10" *ngIf="item">
    <h5>{{item.project.name}}</h5>
  </div>
</div>

<h5 class="title_1">ข้อมูลผู้วิจัย</h5>
<div class="detail_1" *ngIf="item">
  <table class="table table-bordered">
    <tr>
      <td width="15%">ชื่อ-สกุล</td>
      <td>{{item.name}}</td>
    </tr>
    <tr>
      <td>ตำแหน่ง</td>
      <td>{{item.pos}}</td>
    </tr>
    <tr>
      <td>สังกัด</td>
      <td>{{item.dep}}</td>
    </tr>
    <tr>
      <td>ที่อยู่</td>
      <td>{{item.address}}</td>
    </tr>
    <tr>
      <td>เบอร์โทร</td>
      <td>{{item.phone}}</td>
    </tr>

    <tr>
      <td colspan="2">
        <div class="text-danger">
          * ข้อมูล ที่อยู่-เบอร์โทร หรือ อื่นๆ สามารถแก้ไขได้ที่ระบบ <a href="https://hrm.yru.ac.th" target="_blank">YRU HRM</a>
        </div>
      </td>
    </tr>
  </table>
</div>

<h5 class="title_1">รายละเอียดสัญญา</h5>
<div class="detail_1" *ngIf="item">
  <table class="table table-bordered">
    <tr>
      <td width="15%">แหล่งทุน</td>
      <td>{{item.project.fund_type ? item.project.fund_type.name : ''}}</td>
    </tr>
    <tr>
      <td>งบประมาณ</td>
      <td>{{(item.project.budget_edit ? item.project.budget_edit : item.project.budget) | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>วันที่ทำสัญญา</td>
      <td>{{item.do_date | dateThai}}</td>
    </tr>
    <tr>
      <td>ระยะเวลา</td>
      <td>{{item.date_range}}</td>
    </tr>
    <tr>
      <td>ผู้ค้ำประกัน</td>
      <td>
        <ol>
          <li *ngFor="let d of guarantors; let i = index">
            {{d.fullname}}
            <i class="fa fa-times text-danger pointer" (click)="deleteGuarantor(i)" *ngIf="canEdit"></i>
          </li>
        </ol>

        <div class="col-md-4" *ngIf="canEdit && (guarantors.length < maxGuarantor)">

          <input [(ngModel)]="asyncSelectedStaff"
                 [typeahead]="dataSourceStaff"
                 (typeaheadOnSelect)="typeaheadOnSelectStaff($event)"
                 [typeaheadOptionsLimit]="7"
                 [typeaheadWaitMs]="300"
                 typeaheadOptionField="fullname"
                 placeholder="ค้นหา.."
                 class="form-control"
                 name="searchStaff">
        </div>

      </td>
    </tr>
    <tr>
      <td>แบบฟอร์มดาวน์โหลด</td>
      <td>

        <h5 class="text-danger" *ngIf="guarantors.length == 0">* กรุณาป้อนข้อมูลผู้ค้ำประกัน</h5>

        <ul *ngIf="guarantors.length > 0">
          <li *ngFor="let d of downloads">
            <a href="{{d.url}}&token={{token}}" target="_blank">{{d.name}}</a>
          </li>
        </ul>
      </td>
    </tr>
    <tr *ngIf="item.status.id == 5">
      <td>ไฟล์สัญญา</td>
      <td>
        <ul>
          <li *ngFor="let d of files">
            <a href="{{d.url}}" target="_blank">{{d.name}}</a>
          </li>
        </ul>
      </td>
    </tr>
    <!--<tr>-->
      <!--<td>สถานะ</td>-->
      <!--<td><i class="fa fa-fw fa-{{ item.status.icon }}"></i> {{ item.status.name }}</td>-->
    <!--</tr>-->
  </table>

  <h5 class="text-danger text-center">{{message}}</h5>
  <p align="center" *ngIf="canEdit">
    <button mat-raised-button color="accent" (click)="send()">Send</button>
  </p>
  <p align="center" *ngIf="item.status.id == 2">
    <button mat-raised-button color="warn" (click)="pullback()">ดึงกลับ</button>
  </p>

  <table class="table table-bordered" *ngIf="tracks.length">
    <tr>
      <td width="20%">วันที่</td>
      <td width="20%">สถานะ</td>
      <td>หมายเหตุ</td>
    </tr>
    <tr *ngFor="let d of tracks">
      <td>{{d.created_at | dateThai:'time'}}</td>
      <td><i class="fa fa-fw fa-{{ d.status.icon }}"></i> {{ d.status.name }}</td>
      <td><div class="pre1" [ngClass]="{'text-danger': d.status.id == 4}">{{d.note}}</div></td>
    </tr>
  </table>

</div>

</ng-container>
